
.country-info{
    padding-inline:20px;
    padding-block: 20px;
    background-color: white;
    z-index: 100;
}

.country-info__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap:20px
}

.country-info__title button{
    display: block;
    height: 40px;
    width: 40px;
    background:#FFA836;
    outline:none;
    border:none;
    cursor:pointer;
}

.basic-info__name {
    padding-block: 5px;
    padding-inline: 10px;
    background-color: #A1CAF1;
}

.basic-info{
    width: max-content;
    display: flex;
}

.basic-info-text{
    width: max-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    gap: 15px;
}

.basic-info-text div{
    padding-inline: 5px;
}
.basic-info-text div span:first-child{
    font-weight: bold;
    margin-right: 5px;
    padding-block:3px;
    padding-inline: 8px;
    background-color: #98FB98;
}

.country-info__img-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-info__img-container img{
    height:200px;
    width:300px
}
