.show{
  opacity:1;
}

.hide{
opacity: 0;
}



.nav{
    position:sticky;
    top:0;
    height:max-content;
    padding-block:5px;
    padding-inline:20px;
    background:#7BB2DD;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.nav-center{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}

.nav-center__title,.nav-center__search-form-container{
    padding:10px;
}

.nav-center__title h1{
     text-transform:uppercase;
}

.nav-center__search-form{
 width:100%;
 height:100%;
 display:flex;
 align-items:center;
}

.nav-center__search-input,.nav-center__search-btn{
    height:40px
}

.nav-center__search-input{
    width:280px;
    font-size:15px;
    text-align:center;
    outline:none;
}

.nav-center__search-input::placeholder{
    text-align:center;
}

.nav-center__search-btn{
    width:40px;
    margin-left:5px;
    cursor:pointer;
    background:#87CEEB;
    border:none;
    outline:none;
}

.nav-center__error-message p{
    color:#C21807;
}

.nav-center__all-country-btn-container button{
    width:40px;
    height: 40px;
    margin-left:5px;
    font-size:15px;
    cursor:pointer;
    background:#87CEEB;
    border:none;
    outline:none;
}


